* {
    font-family:system-ui;
}
.new {
    max-width: 800px;
    margin: 0 auto;
    margin-block-start: 100px;
    border: 4px solid rgb(70, 70, 70);
    padding: 80px 50px;
    border-radius: 10px;;
}
.img_news {
    width: 100%;
    border-radius: 6px;
}